<div class="d-flex">
  <!-- Start SideBar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">
      Gifs-App
    </h3>
    <hr class="text-light" />
    <div class="list-group list-reset">
      <a href="#" class="list-group-item list-group-item-action">
        DashBoard
      </a>
    </div>
  </div>
  <!-- End SideBar -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs..." />
      </div>
    </div>
    <hr class="text-dark m-3" />
    <div class="row p-3">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nulla aut? Voluptatibus perspiciatis deleniti
        ullam nostrum sed libero ipsum rerum quidem. Culpa dolorum consectetur doloribus temporibus, provident obcaecati
        molestiae odit.
      </div>
    </div>
  </div>
</div>